<!-- Google Search Console -->
<meta name="google-site-verification" content="XYi0dLcffWI3lYNo5eqaXi9WPN3VJzoVDtNvY4VEf-Y"/>

<!-- Naver Search Advisor -->
<meta name="naver-site-verification" content="06a0a9f1a12da7f53cefe3347c460465c20bb6b9"/>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
      rel="stylesheet">
<link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css"
      rel="stylesheet"
      crossorigin="anonymous">
